body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #d2b48c;
  color: white;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #985c41;
  color: white;
  padding: 10px 20px;
}

.logo {
  display: flex;
  align-items: center;
}



.menu-button {
  background-color: #985c41 /!----!/;
  color: #white;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.banner {
  text-align: center;
  background-color: #985c41;
  padding: 20px;
}

.banner img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.5);
}

.features {
  padding: 20px;
}

.feature {
  background-color: #985c41;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 15px;
  margin: 10px 0;
}

footer {
  text-align: center;

  color: #fff;
  padding: 10px 0;
}

/* Estilo do link */
.custom-link {
  font-size: 18px;
  color: #pink ; /* Cor azul do link */
  text-decoration: none; /* Removendo sublinhado padrão */
  padding: 10px 20px;
  border: 2px solid transparent;
  border-radius: 5px;
  transition: all 0.3s ease;
  background-color: #f5deb3
}

/* Estilo quando o mouse passa por cima (hover) */
.custom-link:hover {
  color: white;
  background-color: #f5deb3; /* Cor de fundo ao passar o mouse */
  border-color: #f5deb3; /* Borda azul */
}

/* Estilo quando o link é pressionado (active) */
.custom-link:active {
  background-color: #f5deb3; /* Cor de fundo mais escura */
}

/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

/* Definindo o fundo e layout da página */
body {
    background-color:  #d2b48c;
    font-family: 'Arial', sans-serif;
    color: #333;
    margin: 0;
}

/* Container dos livros */
.livro-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
    gap: 20px;
}

/* Cada livro */
.livro {
    background-color: #ffdead;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Efeito de hover para cada livro */
.livro:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
}

/* Título dos livros */
.livro h3 {
    font-size: 18px;
    color: #333;
    margin: 15px 0;
}

/* Texto do livro */
.livro p {
    font-size: 14px;
    line-height: 1.6;
    color: #555;
    margin-bottom: 15px;
}

/* Link */
a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

/* Estilo das imagens dos livros */
.livro-img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

/* Responsividade para dispositivos móveis */
@media (max-width: 768px) {
    .livro-container {
        justify-content: center;
    }

    .livro {
        width: 80%;
    }
}
