
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bibliotecaV.com</title>
    <link rel="stylesheet" href="../static/sstyle.css">
</head>
<body>
  <header class="header">


    <nav class="menu">
        <a href="/listarlivros" class="custom-link" >Resenhas Literárias</a>


    </nav>
  </header>

  <section class="banner">
    <h2>Tenha acesso a vários documentos gratuitos.</h2>
      <img  src="../static/foto2.jpg" alt="" height="400px" lenght="400px" vspace="9" hspace="9" style="border-radius: 50%;" >

  </section>

  <section class="features">
    <div class="feature">
      <h3>Perfeito para aprender</h3>
      <p>A melhor plataforma gratuita disponível publicamente na Internet.</p>
    </div>
    <div class="feature">
      <h3>Expandindo seu Conhecimento</h3>
      <p>A Biblioteca é o melhor lugar para compartilhar conhecimento na Internet. Ler virtualmente nunca foi tão fácil!</p>
    </div>
  </section>

  <footer>
    <p style="color:#985c41">Biblioteca Virtual - Brasil</p>
  </footer>



</head>

<div class="livro">

    <p><a style="color: black" href = "https://drive.google.com/file/d/1oFK6VpFqbPAUu6qluwWx0q6et9nQYecN/view?usp=drivesdk">é assim que começa</a>
    <h3>Assim que Começa (It Ends with Us) – Colleen Hoover

Lily Bloom enfrenta um relacionamento abusivo enquanto relembra traumas de infância. O romance aborda temas como violência doméstica, escolhas difíceis e superação, convidando à reflexão sobre resiliência.
</h3>
    </p>

     <img  src="../static/começa.jpg" alt="" height="400px" lenght="400px" " >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1oah9BvizK8nCOnyqVP2WV-3F7b5whAH2/view?usp=drivesdk">5 passos de voce</a>
    <h3>
    A Cinco Passos de Você (Five Feet Apart) – Rachael Lippincott
Stella Grant e Will Newman são adolescentes com fibrose cística, uma doença que os obriga a viver afastados por pelo menos cinco passos para evitar contaminações fatais. Apesar dessa barreira física, eles se apaixonam e desafiam as limitações impostas pela doença. A obra trata de temas como amor, perda e a importância de aproveitar cada momento.
</h3>
   </p>

 <img  src="../static/estrelas.jpg" alt="" height="400px" lenght="400px" >

    <p><a style="color: black" href = "https://drive.google.com/file/d/1oiRD3EZMYIVxgx4YjOm7ynISM6-A_sBK/view?usp=drivesdk">garota exemplar</a>
    <h3>
    Garota Exemplar (Gone Girl) – Gillian Flynn
O desaparecimento de Amy Dunne expõe um casamento aparentemente perfeito, mas repleto de segredos e manipulações. Nick, seu marido, se torna o principal suspeito, mas a trama dá voltas inesperadas quando a perspectiva de Amy é revelada. Este thriller psicológico aborda temas como mentiras, controle e os papéis de gênero em relacionamentos, com uma narrativa inteligente e repleta de tensão.
</h3>
    </p>

     <img  src="../static/garotaex.jpg" alt="" height="400px" lenght="400px"  >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1olb0Gm0ycMVqVlbBQTD_--t_2MaesAff/view?usp=drivesdk">O Pequeno Príncipe</a>
   <h3>O Pequeno Príncipe – Antoine de Saint-Exupéry

Um piloto perdido no deserto encontra um príncipe de outro planeta. Com mensagens sobre amor, amizade e a importância do que é invisível aos olhos, a obra traz reflexões universais em uma narrativa poética e simbólica.
</h3>
   </p>

     <img  src="../static/pequeno.jpg" alt="" height="400px" lenght="400px"  >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1otx5AVgwawQFht0QItRtp4qbwlGMNwqw/view?usp=drivesdk">Box Percy Jackson</a>
    <h3>
     Percy Jackson e os Olimpianos: O Ladrão de Raios – Rick Riordan
Percy Jackson descobre que é um semideus, filho de Poseidon, e embarca em uma jornada para recuperar o raio mestre de Zeus e evitar uma guerra entre os deuses do Olimpo. Misturando mitologia grega com aventuras modernas, o livro cativa leitores de todas as idades com sua ação, humor e personagens carismáticos. É o primeiro volume de uma série que reinventa os mitos gregos para o público jovem.
</h3>
   </p>

     <img  src="../static/percy.jpg" alt="" height="400px" lenght="400px"  >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1otx5AVgwawQFht0QItRtp4qbwlGMNwqw/view?usp=drivesdk">O Príncipe Cruel</a>
   <h3>O príncipe cruel
Envolvida em intrigas e traições do palácio, Jude descobre sua própria capacidade para truques e derramamento de sangue. Mas, com a ameaça de uma guerra civil e o Reino das Fadas por um fio, Jude precisará arriscar sua vida em uma perigosa aliança para salvar suas irmãs, e o próprio Reino.</h3>

   </p>

     <img  src="../static/cruel.jpg" alt="" height="400px" lenght="400px" >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1ozC2_IH5Hok2DjgWKQxXdILaqTb_neZ5/view?usp=drivesdk">Os 13 Porquês</a>

   <h3> Os 13 Porquês (Thirteen Reasons Why) – Jay Asher
Clay Jensen recebe fitas de áudio de Hannah Baker, colega que tirou a própria vida. Nas gravações, ela explica as razões e as pessoas que influenciaram sua decisão, expondo os impactos do bullying e da negligência.</h3>
   </p>

     <img  src="../static/treze.jpg" alt="" height="400px" lenght="400px"  >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1p0cfjjIG-oFFIXf6UCWGaAZM00LUG-PL/view?usp=drivesdk">A Culpa é das Estrelas</a>
       <h3> A Culpa é das Estrelas – John Green
Hazel Grace Lancaster e Augustus Waters, dois adolescentes que enfrentam o câncer, vivem uma história de amor emocionante e cheia de reflexões sobre a fragilidade da vida. Hazel, que luta contra um câncer terminal, e Gus, em remissão, compartilham interesses literários e momentos inesquecíveis, enquanto lidam com as incertezas da doença. O livro aborda temas como amor, dor e a busca por um legado, oferecendo uma narrativa comovente que mistura humor, filosofia e tragédia.
</h3>
   </p>

     <img  src="../static/estrelasofc.jpg" alt="" height="400px" lenght="400px"  >

   <p><a style="color: black" href = "https://drive.google.com/file/d/1p16TQ7MRuW_5iOxDJ-4JXo5c-nXZXlg5/view?usp=drivesdk">A Paciente Silenciosa</a>
    <h3> A Paciente Silenciosa – Alex Michaelides

Alicia Berenson, uma pintora de sucesso, é acusada de matar o marido e, desde então, permanece em silêncio. Theo Faber, um psicoterapeuta intrigado com o caso, decide tratá-la e desvendar o mistério por trás de seu silêncio. A narrativa mistura thriller psicológico e drama, com reviravoltas surpreendentes que mantêm o leitor envolvido até a última página. É uma história sobre traumas, obsessões e segredos obscuros.

</h3>
   </p>


     <img  src="../static/paciente.jpg" alt="" height="400px" lenght="400px"  >


</div>
</body>
</html>