
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bibliotecaV.com</title>
    <link rel="stylesheet" href="../static/sstyle.css">
</head>
<body>
  <header class="header">


    <nav class="menu">
        <a href="/listarlivros" class="custom-link" >Resenhas Literárias</a>


    </nav>
      <nav class="menu">
        <a href="/pagaddresenha" class="custom-link" >Adicionar resenha</a>


    </nav>
  </header>

  <section class="banner">
    <h2>Tenha acesso a vários documentos gratuitos.</h2>
      <img  src="../static/foto2.jpg" alt="" height="400px" lenght="400px" vspace="9" hspace="9" style="border-radius: 50%;" >

  </section>

  <section class="features">
    <div class="feature">
      <h3>Perfeito para aprender</h3>
      <p>A melhor plataforma gratuita disponível publicamente na Internet.</p>
    </div>
    <div class="feature">
      <h3>Expandindo seu Conhecimento</h3>
      <p>A Biblioteca é o melhor lugar para compartilhar conhecimento na Internet. Ler virtualmente nunca foi tão fácil!</p>
    </div>
  </section>

  <footer>
    <p style="color:#985c41">Biblioteca Virtual - Brasil</p>
  </footer>



</head>

   <div class="livro">
            <a href="https://drive.google.com/file/d/1oFK6VpFqbPAUu6qluwWx0q6et9nQYecN/view?usp=drivesdk">
                <h3>Assim que Começa (It Ends with Us) – Colleen Hoover</h3>
            </a>
            <p>Lily Bloom enfrenta um relacionamento abusivo enquanto relembra traumas de infância. O romance aborda temas como violência doméstica, escolhas difíceis e superação, convidando à reflexão sobre resiliência.</p>
            <img src="../static/começa.jpg" alt="Assim que Começa" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1oah9BvizK8nCOnyqVP2WV-3F7b5whAH2/view?usp=drivesdk">
                <h3>A Cinco Passos de Você (Five Feet Apart) – Rachael Lippincott</h3>
            </a>
            <p>Stella Grant e Will Newman são adolescentes com fibrose cística, uma doença que os obriga a viver afastados por pelo menos cinco passos para evitar contaminações fatais. Apesar dessa barreira física, eles se apaixonam e desafiam as limitações impostas pela doença.</p>
            <img src="../static/estrelas.jpg" alt="A Cinco Passos de Você" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1oiRD3EZMYIVxgx4YjOm7ynISM6-A_sBK/view?usp=drivesdk">
                <h3>Garota Exemplar (Gone Girl) – Gillian Flynn</h3>
            </a>
            <p>O desaparecimento de Amy Dunne expõe um casamento aparentemente perfeito, mas repleto de segredos e manipulações. Nick, seu marido, se torna o principal suspeito, mas a trama dá voltas inesperadas quando a perspectiva de Amy é revelada.</p>
            <img src="../static/garotaex.jpg" alt="Garota Exemplar" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1olb0Gm0ycMVqVlbBQTD_--t_2MaesAff/view?usp=drivesdk">
                <h3>O Pequeno Príncipe – Antoine de Saint-Exupéry</h3>
            </a>
            <p>Um piloto perdido no deserto encontra um príncipe de outro planeta. Com mensagens sobre amor, amizade e a importância do que é invisível aos olhos, a obra traz reflexões universais em uma narrativa poética e simbólica.</p>
            <img src="../static/pequeno.jpg" alt="O Pequeno Príncipe" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1otx5AVgwawQFht0QItRtp4qbwlGMNwqw/view?usp=drivesdk">
                <h3>Percy Jackson e os Olimpianos: O Ladrão de Raios – Rick Riordan</h3>
            </a>
            <p>Percy Jackson descobre que é um semideus, filho de Poseidon, e embarca em uma jornada para recuperar o raio mestre de Zeus e evitar uma guerra entre os deuses do Olimpo.</p>
            <img src="../static/percy.jpg" alt="Percy Jackson" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1otx5AVgwawQFht0QItRtp4qbwlGMNwqw/view?usp=drivesdk">
                <h3>O Príncipe Cruel</h3>
            </a>
            <p>Envolvida em intrigas e traições do palácio, Jude descobre sua própria capacidade para truques e derramamento de sangue. Ela precisará arriscar sua vida em uma perigosa aliança para salvar suas irmãs e o Reino das Fadas.</p>
            <img src="../static/cruel.jpg" alt="O Príncipe Cruel" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1ozC2_IH5Hok2DjgWKQxXdILaqTb_neZ5/view?usp=drivesdk">
                <h3>Os 13 Porquês (Thirteen Reasons Why) – Jay Asher</h3>
            </a>
            <p>Clay Jensen recebe fitas de áudio de Hannah Baker, colega que tirou a própria vida. Nas gravações, ela explica as razões e as pessoas que influenciaram sua decisão, expondo os impactos do bullying e da negligência.</p>
            <img src="../static/treze.jpg" alt="Os 13 Porquês" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1p0cfjjIG-oFFIXf6UCWGaAZM00LUG-PL/view?usp=drivesdk">
                <h3>A Culpa é das Estrelas – John Green</h3>
            </a>
            <p>Hazel Grace Lancaster e Augustus Waters, dois adolescentes que enfrentam o câncer, vivem uma história de amor emocionante e cheia de reflexões sobre a fragilidade da vida.</p>
            <img src="../static/estrelasofc.jpg" alt="A Culpa é das Estrelas" class="livro-img">
        </div>

        <div class="livro">
            <a href="https://drive.google.com/file/d/1p16TQ7MRuW_5iOxDJ-4JXo5c-nXZXlg5/view?usp=drivesdk">
                <h3>A Paciente Silenciosa – Alex Michaelides</h3>
            </a>
            <p>Alicia Berenson, uma pintora de sucesso, é acusada de matar o marido e permanece em silêncio. Theo Faber, um psicoterapeuta intrigado com o caso, decide tratá-la e desvendar o mistério por trás de seu silêncio.</p>
            <img src="../static/paciente.jpg" alt="A Paciente Silenciosa" class="livro-img">
        </div>

    </div>
</body>
</html>